<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Interventions</h1>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <!-- <button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample"
            (click)="frame.show()" mdbWavesEffect>Add Interventions</button> -->
            <a routerLink="/admin/addinterventions" class="btn btn-primary" style="float:right">Add Interventions</a>
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Description</th>
                            <th>Actions</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataArray">
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td> <img class="img-thumbnail" alt="200x200" style="width: 200px; height: 200px;"
                                    src="data:image/png;base64,{{item.image}}" data-holder-rendered="true"></td>
                            <td>{{item.txt}}</td>
                            <td>
                                <button class="btn btn-danger" style="margin-right:5px">Delete</button>
                                
                                <button class="btn btn-info">Update</button>
                            </td>
                        </tr>



                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->