<main>

    <div class="slider-area slider-area2">
        <div class="slider-active dot-style">
            <!-- Slider Single -->
            <div class="single-slider  d-flex align-items-center slider-height2">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-7 col-lg-8 col-md-10 ">
                         <div class="hero-wrapper">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInUp" data-delay=".3s">Aesthetic</h1>
                                <p data-animation="fadeInUp" data-delay=".6s">Almost before we knew it, we<br> had left the ground</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<!--? Services Area Start -->
<div class="service-area">
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="single-cat text-center mb-50">
                <div class="cat-icon">
                    <img src="https://cdn-icons-png.flaticon.com/128/2324/2324118.png" alt="">
                </div>
                <div class="cat-cap">
                    <h5><a href="services.html">Silhouette</a></h5>
                    
                    <a href="services.html" class="plus-btn"><i class="ti-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="single-cat text-center mb-50">
                <div class="cat-icon">
                    <img src="https://cdn-icons-png.flaticon.com/128/7215/7215245.png" alt="">
                </div>
                <div class="cat-cap">
                    <h5><a href="services.html">Chest</a></h5>
                    <a routerLink="/aesthetic" class="plus-btn"><i class="ti-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="single-cat text-center mb-50">
                <div class="cat-icon">
                    <img src="https://cdn-icons.flaticon.com/png/128/3828/premium/3828674.png?token=exp=1649208948~hmac=d2707641ab2d6877351d341da7302278" alt="">
                </div>
                <div class="cat-cap">
                    <h5><a href="services.html">Face </a></h5>
                    <a href="services.html" class="plus-btn"><i class="ti-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6" style="margin:0 33.5%">
            <div class="single-cat text-center mb-50">
                <div class="cat-icon">
                    <img src="https://cdn-icons.flaticon.com/png/128/3699/premium/3699805.png?token=exp=1649209359~hmac=5922a0760ffe95bb2df693e92c4b253d" alt="">
                </div>
                <div class="cat-cap">
                    <h5><a href="services.html">Intime</a></h5>
                    <a href="services.html" class="plus-btn"><i class="ti-plus"></i></a>
                </div>
            </div>
        </div>
      
    </div>
</div>
</div>

</main>
