<main>

    <div class="slider-area slider-area2">
        <div class="slider-active dot-style">
            <!-- Slider Single -->
            <div class="single-slider  d-flex align-items-center slider-height2">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-7 col-lg-8 col-md-10 ">
                         <div class="hero-wrapper">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInUp" data-delay=".3s">Obesity</h1>
                                <p data-animation="fadeInUp" data-delay=".6s">Almost before we knew it, we<br> had left the ground</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>





<!--? Services Area Start -->
<section class="team-area pb-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-cat text-center mb-30">
                    <div class="cat-icon">
                        <img src="assets/front/img/gallery/fballoon.PNG" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="#">Gastric balloon</a></h5>
                        <p>Praesent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium mi 
                        sem ut ipsum.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-cat text-center mb-30">
                    <div class="cat-icon">
                        <img src="assets/front/img/gallery/fanneau.PNG" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="#">Gastric band</a></h5>
                        <p>Praesent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium mi 
                        sem ut ipsum.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-cat text-center mb-30">
                    <div class="cat-icon">
                        <img src="assets/front/img/gallery/fplicature.PNG" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="#">Gastric plication</a></h5>
                        <p>Praesent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium mi 
                        sem ut ipsum.</p>
                    </div>
                </div>
            </div>
<br>
<br>
<br><br><br><br>

            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-cat text-center mb-30">
                    <div class="cat-icon">
                        <img src="assets/front/img/gallery/fpancrea.PNG" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="#">Bilio-pancreatic diversion</a></h5>
                        <p>Praesent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium mi 
                        sem ut ipsum.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-cat text-center mb-30">
                    <div class="cat-icon">
                        <img src="assets/front/img/gallery/fsleeve.PNG" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="#">Sleeve gastrectomy</a></h5>
                        <p>Praesent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium mi 
                        sem ut ipsum.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-cat text-center mb-30">
                    <div class="cat-icon">
                        <img src="assets/front/img/gallery/fmini.PNG" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="#">Mini-gastric Bypass</a></h5>
                        <p>Praesent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium mi 
                        sem ut ipsum.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8" style="margin:0 35%">
                <div class="single-cat text-center mb-30">
                    <div class="cat-icon">
                        <img src="assets/front/img/gallery/fbypass.PNG" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="#">Gastric bypass</a></h5>
                        <p>Praesent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium mi 
                        sem ut ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</main>
